* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* min-width:1000px;        
    width: auto !important;   */
    /* width:1400px;  */
    margin: 10rem;

}

.all {
    overflow: hidden;
    background-color: rgb(17, 138, 138);
}

.container2 {
    background-color: black;
}

.container1 {
    width: 120%;
    height: 650px;
    box-sizing: content-box;
    padding-top: 15px;
    position: relative;
    color: white;
    font-size: 11px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(-4deg);
    top: -10px;
    left: -25px;


}

.img1 {
    background-color: black;
    background-size: cover;
    background-position: center;

}

.img2 {
    background-image: url("https://img.freepik.com/free-photo/abstract-luxury-clear-yellow-wall-well-use-as-backdrop-background-layout_1258-207.jpg?size=626&ext=jpg");
    background-size: cover;
    background-position: center;
    
}

.img3 {
    background-image: url("https://cdn.wallpapersafari.com/57/35/RsK5ne.jpg");
    background-size: cover;
    background-position: center;
}

.img4 {
    background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTd8fGRhcmslMjBjb2xvcnxlbnwwfHwwfA%3D%3D&w=1000&q=80");
    background-size: cover;
    background-position: center;
}

.img5 {
    background-image: url("https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHw%3D&w=1000&q=80");
    background-size: cover;
    background-position: center;
}

.img6 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCDiXuPoc1YM0GMwWa8SmpdOt7YJIlBaDVEA&usqp=CAU");
    background-size: cover;
    background-position: center;
}

.img7 {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190222/ourmid/pngtree-rainbow-ppt-gradient-background-color-backgroundcolorbackground-image_54483.jpg");
    background-size: cover;
    background-position: center;
}

.img8 {
    background-image: url("https://lh3.googleusercontent.com/proxy/_jQleByA6euikq5qTE0O5TvN2tEPKJ0bpnT0hi8md0508Jv1R2poqBtBKeeTrxU-uovZITfyp4qpiwM71m2A9VDr7lpPs07OY7z7Gi4GvAZAo7h56JYtD69nr_gPYc38IRYHJ5W_4FJmqonLo5JLTxOK0w");
    background-size: cover;
    background-position: center;
}

.img9 {
    background-image: url("https://www.teahub.io/photos/full/26-263385_light-colour-background-images-hd-light-color-background.jpg");
    background-size: cover;
    background-position: center;
}

.img10 {
    background-color: rgb(17, 138, 138);
    background-size: cover;
    background-position: center;
}


.global-headline {
    position:relative;
    text-align: center;
    margin: 10rem -5rem 0 -25rem;
    color: white;
    transform: rotate(4deg);
}

.title{
   
        position:relative;
        text-align: center;
        margin: 10rem -5rem 0 -25rem;
        color: white;
        transform: rotate(4deg);

}

.flx{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    margin-right:400px;
    
}

.first-letter{
font-family: 'Parisienne', cursive;
font-size:10rem;
font-weight: 100;
}

.sub-headline {
    font-size: 3rem;
    /* font-family: 'Courier New', Courier, monospace; */
    color: white;
    font-weight: 100;
    line-height: .5;
    letter-spacing: 5px;
}

.headline-bottom
{
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: 100 ;
    line-height: .5;
    letter-spacing: 5px;
    /* margin-top: 30px; */
}

.headline{
    margin-top: 60px;
}

.headline-text{
    text-align: left;
    font-size: 1rem;
}

i{
    font-size:60px;
    margin-top: 90px;
    margin-bottom: 20px;
}

#second-box{
    color:black;
}

#second-color{
    color:white;
}
p {
    font-size: 1.6rem;
    color: black;
    text-align: left;
    margin-left: 35%;
    margin-right: 20%;
    line-height: 25px;
    text-transform: none;
}

h3{
    margin-top:30px;
    margin-left:-210px;
    margin-bottom: -20px;
}
@media screen and (max-width:1400px) {
    body{
        margin:1rem
    }
   .global-headline{
       margin-left:-13rem;
   }
    .sub-headline {
        font-size: 3rem;
    }

    html{
        min-width: 900px;
    } 

    p {
        font-size: 1.6rem;
        color: black;
        text-align: left;
        margin-left: 400px;
        margin-right: 400px;
    }
    .flx{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 3px;
        
        
    }
    .title{
   
        position:relative;
        text-align: center;
        margin: 10px -20rem 0 -15rem;
        
        color: white;
        transform: rotate(4deg);

}

}
