*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 22px;
    margin-top:80px;
   background-color: peachpuff;
  
   
   
}


.container {
  
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    float: left;
    left: -10%;
    
   
  }
.logo{
    font-size: 13px;
    padding: 3px;
  background: grey;
  color: white;
  min-width: 3px;
  text-align: center;
  
    float: left;
    position: relative;
    left: 60%;
}

#country{
    width: 160px;
}

.input-field{
    float: left;
    position: relative;
    left: 60%;
}

.btn{
    margin-left: 50%;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 18px;
        margin-top:100px;
    }
    .text1{
        padding-right: 200px;
    }
    .container {
  
        width: 100%;
        margin-bottom: 10px;
        position: relative;
        float: left;
        left: -25%;
    }
  
    .input-field{
        float: left;
        position: relative;
        left: 80%;
    }
    .logo{
        font-size: 13px;
        padding: 3px;
      background: grey;
      color: white;
      min-width: 3px;
      text-align: center;
      
        float: left;
        position: relative;
        left: 80%;
    }
} 
